*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
--container-background: #ffff ;
--nav-background:#F5F5F7 ;
--color:#0000;
--btn-background:#4475bf;
--btn-hover:#335bd4;
}

body{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    background-color:var(--container-background) ;
}

.container{

}

/*   navbar    */


.navbar{
    background-color: var(--nav-background);
    padding:0.3rem 0.5rem;
    font-size:0.8rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.logo>img{
    max-height: 2rem;
}

.list-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin-left:2rem;
    margin-right: 2rem;
}

.icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
    gap: 2rem; 
}

.icon>img{
    max-height: 1.4rem;

}

/* Hero-section */


.part-1>img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    

}

/* .part-1 {
    position: relative;
}

.text-part-1 {
    position: absolute;         // obsellete 
    top: 15%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
} */

.part-1{
width: 100%;
height: auto;
position: relative;
display: flex;
flex-direction: row;
flex-wrap: wrap;
place-content: center;
gap: 1rem;
overflow: hidden;
margin-bottom: 2rem;
}

.text-part-1 {
display: flex;
flex-direction: column;
position: absolute;
top: 2%;
padding: 3rem 1rem;
text-align: center;
color: #fff;
}

.text-part-1>h1{
font-size: 3rem;
font-weight: 600;
margin-bottom: 0.5rem;
}

.text-part-1>p{
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.btn-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
    gap: 1.5rem;
}

.btn-div>button{
    padding: 0.8rem 1rem;
    background-color: var(--btn-background);
    color: #fff;
    border-radius: 0.8rem;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.5s ease-in-out;
}

.btn-div>button:hover{
    background-color:var(--btn-hover) ;
    transform: translate(0.3rem, 0.3rem) rotate(0.01deg) scale(0.9) ;
}

.air-bottom-div{
    position: absolute;
    bottom: 5%;
}

.air-bottom-div>p{
font-size : 1.5rem;
font-weight: 400;
background : linear-gradient(to right, #0000ff, #ff0000);
background-clip : text;
color: transparent ;
}

/*     product    */